<h4>Reviews</h4>
<blockquote ng-repeat="review in product.reviews">
	<b>Stars: {{review.stars}}</b>
	{{review.body}}	
	<cite class="clearfix">- {{review.author}} on {{review.createdOn | date}}</cite>
</blockquote>

<form name="reviewForm" ng-controller="ReviewController as reviewCtrl" 
ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
	 <!--  Live Preview -->
	<blockquote>
	<b>Stars: {{reviewCtrl.review.stars}}</b>
	{{reviewCtrl.review.body}}	
	<cite class="clearfix">- {{reviewCtrl.review.author}}</cite>
	</blockquote>
	
	 <!--  Review Form -->
	<h4>Submit a Review</h4>
	<p><select class="form-control" ng-model="reviewCtrl.review.stars" required>
		<option value="1">*</option>
		<option value="2">**</option>
		<option value="3">***</option>
		<option value="4">****</option>
		<option value="5">*****</option>
	</select></p>
	<textarea class="form-control" ng-model="reviewCtrl.review.body" required></textarea>
	<p><label>by:</label><input ng-model="reviewCtrl.review.author" type ="email" required/></p>
	<input class="form-control" type ="submit" value="Submit"/>
</form>