<!DOCTYPE html>
<html ng-app="store">
	<head>
		<link rel="stylesheet" type="text/css" href="../bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="mycss.css" />
	</head>
	<body>
		<script type="text/javascript" src="../angular.min.js" ></script>
		<script type="text/javascript" src="../bootstrap.min.js" ></script>
		<script type="text/javascript" src="app.js" ></script>
		<h1 align='center' >MY GEMS  <br/>- an Angular Store -</h1>
		<div ng-controller="StoreController as store">
				<div ng-repeat="product in store.products | orderBy: '-price'">
				<h2>
					{{product.name | uppercase}}
					<em class="pull-right">
						{{product.price | currency}}
					</em>
				</h2>
					<!-- Image Gallery  -->
				<div class="gallery" ng-show="{{product.images.length}}" ng-controller="GalleryController as gallery">
					<img ng-src="{{product.images[gallery.current].full}}" width="42" height="42"/>
					<ul class="list-inline thumbs">
					  <li class="thumbnail" ng-repeat="image in product.images">
						<img ng-src="{{image.full}}" width="42" height="42"/>
					  </li>
				  </div>
				
				<section ng-init="tab=1" ng-controller="PanelController as panel">
					<ul class="nav nav-pills">
						<li ng-class="{active:panel.isSelected(1)}"><a href ng-click="panel.selectTab(1)">Description</a> </li>
						<li ng-class="{active:panel.isSelected(2)}"><a href ng-click="panel.selectTab(2)">Specifications</a> </li>
						<li ng-class="{active:panel.isSelected(3)}"><a href ng-click="panel.selectTab(3)">Reviews</a> </li>
					</ul>
				
					<div class="panel" ng-show="panel.isSelected(1)">
						<h4>Description</h4>
						<blockquote>{{product.description}}</blockquote>
					</div>
					<div class="panel" ng-show="panel.isSelected(2)">
						<h4>Specifications</h4>
						<blockquote>None</blockquote>
					</div>
					<div class="panel" ng-show="panel.isSelected(3)">
						<h4>Reviews</h4>
						<blockquote ng-repeat="review in product.reviews">
							<b>Stars: {{review.stars}}</b>
							{{review.body}}	
							<cite class="clearfix">- {{review.author}} on {{review.createdOn | date}}</cite>
						</blockquote>
						
						<form name="reviewForm" ng-controller="ReviewController as reviewCtrl" 
												ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
							 <!--  Live Preview -->
							<blockquote>
							<b>Stars: {{reviewCtrl.review.stars}}</b>
							{{reviewCtrl.review.body}}	
							<cite class="clearfix">- {{reviewCtrl.review.author}}</cite>
							</blockquote>
							
							 <!--  Review Form -->
							<h4>Submit a Review</h4>
							<p><select class="form-control" ng-model="reviewCtrl.review.stars" required>
								<option value="1">*</option>
								<option value="2">**</option>
								<option value="3">***</option>
								<option value="4">****</option>
								<option value="5">*****</option>
							</select></p>
							<textarea class="form-control" ng-model="reviewCtrl.review.body" required></textarea>
							<p><label>by:</label><input ng-model="reviewCtrl.review.author" type ="email" required/></p>
							<input class="form-control" type ="submit" value="Submit"/>
						</form>
					</div>
				</section>
				<button ng-hide="product.soldOut"> Add to Cart </button>
			</div>
		</div>
		
	</body>
</html>